fieldset {
    border: none;
    
}

.flex {
    display: flex;
    gap: 1rem;
    margin-top: 1rem;
}


.title {
    width: 35rem;
    
}

.person {
    margin-top: 3rem;
}


.botao {
    gap: 1rem;
    display: flex;
    padding: 6px;
    margin-bottom: 1.75rem;
    cursor: pointer;

    & input {
        width: 2.5rem;
        height: 2.5rem;
        border: 2px solid var(--shape-button-color);
        border-radius: 62rem;
        cursor: pointer;
        

        &:hover, &:focus-within {
            outline: 2px solid var(--brand-color-light);
            
        }

        &:has(input:focus) {
            border-color: var(--brand-color-light);
            background-color: var(--brand-color-light);
        }
    }

}


.choice {
    margin-top: 1.75rem;
}









